<p>
  about works!
</p>
<router-outlet></router-outlet>
<h1>About US</h1>
<p>
  Hello and welcome!

We are a group of friendly hiking club who are looking to expand our circle of friends while going to new places and exploring events in our/other areas of the Puget Sound. If you are new in town and would like to meet some of your new neighbors for the first time, or your life is too much work and no play, even if you have lived here your whole life and would like to meet more people, then why not give us a try. Our group is for everyone who like to get outside and play, whether it’s hiking, snowshoeing, biking or kayaking.

This club is a collaborative, volunteer driven project, and we welcome new organizers, once we’ve gotten to know you. The organizers are not hike leaders. We gather the information, share it with you all, and enjoy the adventure with you.

<strong>Legal Disclaimer and Liability Information:</strong>Participation in Olympia Hiking and Outdoor Activities is at your own risk. As a member you agree to indemnify and hold harmless Olympia Hiking and Outdoor Activities, its organizers and other members from all claims or liability of every type (including court costs and legal fees) for injury or death to any person or for damage to property, loss of personal property or any other wrongful act arising out of or relating to your participation as a member. This agreement applies to you and to other persons (as your guests) who may accompany you in these endeavors.

<em>No-Show Policy:</em> All of us at the Olympia Hiking Meetup Group love hiking and sharing that experience with others, and for that reason we have a strict no-show policy. If you commit to a hike and find you are unable to go, update your status and notify the leaders, so that someone else can have the opportunity to go. Members who have three no-shows will be removed from the group.
</p>
