<div class="jumbotron">
  <div class="container text-center">
    <h1>Hiking Club</h1>
    <p>Empowering hikers to build a world where trails connect people and places</p>
  </div>
</div>

<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Hiking Club</a>
    </div>
    <ul class="nav nav-pills">
      <li><a routerLink="about">About</a></li>
      <li><a routerLink="member">Members</a></li>
    </ul>
  </div>
</nav> -->

<nav class="navbar navbar-inverse">
<div class="container-fluid">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="#">Logo</a>
</div>
<div class="collapse navbar-collapse" id="myNavbar">
<ul class="nav navbar-nav">
<li class="active"><a href="#">Home</a></li>
<li><a routerLink="about">About</a></li>
<li><a href="#">BLOG</a></li>
<li><a routerLink="member">Members</a></li>
<li><a href="#">Contact US</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
</ul>

<form class="navbar-form navbar-left">
<div class="input-group">
<input type="text" class="form-control" placeholder="Search">
<div class="input-group-btn">
<button class="btn btn-default" type="submit">
<i class="glyphicon glyphicon-search"></i>
</button>
</div>
</div>
</form>
</div>
</div>
</nav>


<div class="container">
  <h1>{{title}}</h1>
  <router-outlet></router-outlet>
</div>



<!-- ..Footer -->
<footer>
  <div class="container">
    <a class="text-muted" routerLink="admin">Admin</a>
    <div class="text-center center-block">
      <p class="txt-railway">- Hiking.com -</p>
      <br />
      <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
      <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
      <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
      <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
    </div>
    <hr>
  </div>

  <!-- <form class="form-inline">
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class="btn btn-primary">Sign Up</button>
  </form> -->
  <br>
  <br>
  <blockquote class = "quotes">
    <p>
      <i>In all things of nature there is something of the marvelous</i></p>
      <p> –Aristotle</p>
    </blockquote>
    <hr>
  </footer>
