<p>
  welcome works!
</p>
<router-outlet></router-outlet>
<!-- Sidebar -->
        <!-- <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Hiking
                    </a>
                </li>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Blog</a>
                </li>
                <li>
                    <a href="#">Members</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About Us</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact Us</a>
                </li>
            </ul>
        </div> -->
        <!-- /#sidebar-wrapper -->
        <div class="container">
          <h1>{{title}}</h1>
          <router-outlet></router-outlet>
        </div>


        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="panel panel-primary">
                <div class="panel-heading">Photos</div>
                <div class="panel-body"><img src="http://i.pointhacks.com/2017/02/17155622/south-africa-table-mountain-188x100.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="panel panel-primary">
                <div class="panel-heading">Photos</div>
                <div class="panel-body"><img src="https://web2.vermontsystems.com/images/cofrisco/splash/photos/buttons/button3.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="panel panel-primary">
                <div class="panel-heading">Photos</div>
                <div class="panel-body"><img src="http://i.pointhacks.com/2016/11/15100926/japan-flickr-188x100.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
              </div>
            </div>
          </div>
        </div><br><br>



        <!-- ..Article -->
        <div class="container">
          <div class="row">
            <h1>Article Thumbnails</h1>
            <p></p>
          </div>
          <div class="row">
            <div class="col-md-5 col-lg-5">
              <!-- artigo em destaque -->
              <div class="featured-article">
                <a href="#">
                  <img src="http://www.active.com/Assets/Outdoors/hiking-difficulty-460.jpg" alt="" class="thumb">
                </a>
                <div class="block-title">
                  <h2>Lorem ipsum dolor asit amet</h2>
                  <p class="by-author"><small>By Jhon Doe</small></p>
                </div>
              </div>
              <!-- /.featured-article -->
            </div>
            <br>
            <div class="col-md-7 col-lg-7">
              <ul class="media-list main-list">
                <li class="media">
                  <a class="pull-left" href="#">
                    <img class="media-object" src="http://www.worldwiderunning.com/images/hiking_articles.jpg" alt="...">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">Lorem ipsum dolor asit amet</h4>
                    <p class="by-author">By Jessica</p>
                  </div>
                </li>
                <li class="media">
                  <a class="pull-left" href="#">
                    <img class="media-object" src="http://145mvhpt0vf1lfkgl46lzx7j.wpengine.netdna-cdn.com/wp-content/uploads/2015/11/shutterstock_71177071-e1447969536850-150x90.jpg" alt="...">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">Lorem ipsum dolor asit amet</h4>
                    <p class="by-author">By Jhon Doe</p>
                  </div>
                </li>
                <li class="media">
                  <a class="pull-left" href="#">
                    <img class="media-object" src="http://outdoorgearweb.com/wp-content/themes/shopclone/thumbs/wanderer-455338_1920-150x90.jpg" alt="...">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">Lorem ipsum dolor asit amet</h4>
                    <p class="by-author">By Jhon Doe</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
