.featured-article{
  width: 200px;
}

/*#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;

}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}*/
